/* Mobile config */
.songs-container ul#mobile {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

/* Desktop config*/
.songs-container ul#desktop {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

/* All screen types config*/
.songs-container ul#large {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.songs-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.songs-container ul li {
    display: flex;
    flex-direction: row;
}

.songs-container ul li img {
    align-self: center;
    height: 100px;
    border-radius: 5px 5px 0 0;
}

.songs-container ul li footer {
    flex: 1;
    background: #FFF;
    border: 1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.songs-container ul li footer strong {
    font-size: 16px;
    color: #333;
}

.songs-container ul li footer p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-top: 5px;
}



